<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2></h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="home">Home</a></li>
                        
                        <li class="active">Login</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice slice-lg bg-image" style="background-image:url(images/backgrounds/full-bg-1.jpg);">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="wp-block default user-form"> 
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-header">
                                <h2>Sign in to your account</h2>
                            </div>
                            <div class="form-body">
                                <form action="" id="frmLogin" class="sky-form">                                    
                                    <fieldset>                  
                                        <section>
                                            <div class="form-group text-center">
                                                
                                                <label class="input">
                                                    <i class="icon-append fa fa-user"></i>
                                                    <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'input col-md-12' %>
                                                </label>

                                            </div>     
                                        </section>
                                        <section>
                                            <div class="form-group text-center">
                                                
                                                <label class="input">
                                                    <i class="icon-append fa fa-lock"></i>
                                                     <%= f.password_field :password, autocomplete: "off",  placeholder: 'Password', class: 'input col-md-12' %>
                                                </label>
                                            </div>     
                                        </section> 
                                        <section>
                                            <% if devise_mapping.rememberable? -%>
                                            <div class="row text-center">
                                                <div class="col-md-12">
                                                    <%= f.check_box :remember_me %>
                                                    <%= f.label :remember_me %>
                                                        
                                                </div>
                                            </div>
                                             <% end -%>
                                        </section>

                                        <section>
                                            
                                            <%= f.submit "Login", class: 'btn btn-base btn-icon btn-icon-right btn-sign-in pull-right'   %>
                                                                                    </section>
                                    </fieldset>  
                                </form>    
                            </div>
                            
                            <% end %>
                            <div class="form-footer text-center">
                                <%= render "users/shared/links" %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

